body{
	position: absolute;
	background-color: #9177AC;

}

p {
	color: #6B2800;
}

h1{
	border-style: solid;
	border-color: #1E0439
	font-family: impact, helvetica, san-serif;
}
.important{
	border: 100px;
	border-style: solid;
	border-width: 2px;
	margin: 50px;
	padding: 25px;
	font-size: 1.5em;
}
#navBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

#content {
	text-align: center;
    margin: 0 220px;
}

