body{
	position: absolute;
	background-color: #310138;
}

h1{
	border-style: solid;
	border-color: #310138;
	margin-left: 0px;
	margin-right: 0px;
}

h3{
	font-size: 12px;
	margin-top: 0px;
}

p {
	color: #6B2800;
}

#navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
	background-color: #83478B;
}

#content {
	font-family: 'Droid Serif', serif;
	text-align: center;
    margin: 0 220px;
	background-color: #9177AC;
	list-style-type: none;
	padding: 5px;
}
ul {
    list-style-type: none;
    padding: 20px;
    margin: 0px;
}
